
body {
    background-color: #EEF9BF;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.game-title {
    font-size: 48px;
    color: #75B79E;
    width: 100%;
}

.hidden {
    display: none;
}

.card-element {
    width: 80px;
    height: 110px;
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}

.card-face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 330ms;
    transform-style: preserve-3d;
}

.card-front {
    padding: 0 8px;
    width: 80%;
}

.card-back {
    padding: 0 8px;
    width: 80%;
    transform: rotateY(180deg);
}

.flip-front {
    transform: rotateY(-180deg);
    transition: 330ms ease-in-out;
}

.flip-back {
    transform: rotateY(0deg);
    transition: 330ms ease-in-out;
}

.selected {
    filter: brightness(108%);
}

.playable {
    cursor: grab;
}

.card-element img {
    width: 100%;
}

.timer {
    position: fixed;
    top: 2%;
    left: 2%;
}
