
body {
    background-color: #EEF9BF;
    text-align: center;
}

.game-title {
    font-size: 48px;
    color: #75B79E;
    width: 100%;
}

.card-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.hidden {
    display: none;
}

/* .card-front {

}

.card-back {

} */

.card-element {
    width: 80px;
    height: 110px;
    background-color: #A7E9AF;
    padding: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card-element img {
    width: 100%;
}
